<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @todo.body %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @todo.status %>
</p>

<p>
  <strong>優先順位:</strong>
  <%= @todo.priority %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @todo.category.try(:name) %>
</p>

<%= link_to '編集', edit_todo_path(@todo) %> |
<%= link_to '戻る', todos_path %>
