<!DOCTYPE html>
<html>
  <head>
    <title>Railstodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> <%= link_to 'TODOあぷり', root_path %></h1>
  <div id="wrapper">
    <header>
      <%= link_to 'TODOの作成', new_todo_path %>
      <%= link_to 'カテゴリの一覧', categories_path %>
      <%= link_to 'カテゴリの作成', new_category_path %>
    </header>
    <%= yield %>
  </div>
  </body>
</html>
